In [20]:
import pandas as pd

df = pd.read_csv('./dataset/sampled_products.csv')

데이터 사이즈 확인

In [22]:
len(df)

146619

필수 필드 제거

In [23]:
df.size

879714

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146619 entries, 0 to 146618
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   PRODUCT_ID       146619 non-null  int64
 1   TITLE            146619 non-null  object
 2   BULLET_POINTS    141284 non-null  object
 3   DESCRIPTION      109023 non-null  object
 4   PRODUCT_TYPE_ID  146619 non-null  int64
 5   PRODUCT_LENGTH   146619 non-null  float64
dtypes: float64(1), int64(2), object(3)
memory usage: 6.7+ MB

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22497 entries, 0 to 22496
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   PRODUCT_ID          22497 non-null  int64
 1   TITLE               22497 non-null  object
 2   BULLET_POINTS       14138 non-null  object
 3   DESCRIPTION         10912 non-null  object
 4   PRODUCT_TYPE_ID     22497 non-null  int64
 5   PRODUCT_LENGTH      22497 non-null  float64
 6   DESCRIPTION_MERGED  22497 non-null  object
dtypes: float64(1), int64(2), object(4)
memory usage: 1.2+ MB

In [25]:
df_desc = df[df["DESCRIPTION"].notna()]

print("Before:", len(df))
print("After :", len(df_desc))

Before: 146619
After : 109023

In [26]:
df_desc.info()

<class 'pandas.core.frame.DataFrame'>
Index: 109023 entries, 0 to 146618
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   PRODUCT_ID       109023 non-null  int64
 1   TITLE            109023 non-null  object
 2   BULLET_POINTS    103688 non-null  object
 3   DESCRIPTION      109023 non-null  object
 4   PRODUCT_TYPE_ID  109023 non-null  int64
 5   PRODUCT_LENGTH   109023 non-null  float64
dtypes: float64(1), int64(2), object(3)
memory usage: 5.8+ MB

In [27]:
df_bullet = df_desc[df_desc['BULLET_POINTS'].notna()]

print("Before:", len(df_desc))
print("After :", len(df_bullet))

Before: 109023
After : 103688

In [28]:
df_bullet.info()

<class 'pandas.core.frame.DataFrame'>
Index: 103688 entries, 0 to 146618
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   PRODUCT_ID       103688 non-null  int64
 1   TITLE            103688 non-null  object
 2   BULLET_POINTS    103688 non-null  object
 3   DESCRIPTION      103688 non-null  object
 4   PRODUCT_TYPE_ID  103688 non-null  int64
 5   PRODUCT_LENGTH   103688 non-null  float64
dtypes: float64(1), int64(2), object(3)
memory usage: 5.5+ MB

In [30]:
df_bullet.isna().sum()

PRODUCT_ID         0
TITLE              0
BULLET_POINTS      0
DESCRIPTION        0
PRODUCT_TYPE_ID    0
PRODUCT_LENGTH     0
dtype: int64

In [32]:
df_bullet.to_csv("./dataset/sampled_clean_desc_only.csv", index=False)